@if (UseCustomLayout)
{
    <CascadingValue Value="this" IsFixed="true">
        @Content
    </CascadingValue>
}
else if (UseDefaultLayout)
{
    <div class="bm-container @Position @OverlayCustomClass @OverlayAnimationClass"
         @ref="_modalReference" 
         @onclick="HandleBackgroundClick">

        <FocusTrap @ref="FocusTrap" IsActive="ActivateFocusTrap">
            <div class="@ModalClass" role="dialog" aria-modal="true" @onclick:stopPropagation="true">
                @if (!HideHeader)
                {
                    <div class="bm-header">
                        <h3 class="bm-title">@Title</h3>
                        @if (!HideCloseButton)
                        {
                            <button type="button" class="bm-close" aria-label="close" @onclick="() => CancelAsync()" @attributes="@_closeBtnAttributes"> 
                                <span>&times;</span>
                            </button>
                        }
                    </div>
                }
                <div class="bm-content">
                    <CascadingValue Value="this" IsFixed="true">
                        @Content
                    </CascadingValue>
                </div>
            </div>
        </FocusTrap>
        
    </div>
}
else
{
    <!--begin::Modal - Create App-->
    <div class="modal show @Position @OverlayCustomClass @OverlayAnimationClass"
     @ref="_modalReference"
     @onclick="HandleBackgroundClick" style="display:block!important">
        <FocusTrap @ref="FocusTrap" IsActive="ActivateFocusTrap">
            <div class="modal-dialog modal-dialog-centered @ModalWidth @ModalClass" role="dialog" aria-modal="true" @onclick:stopPropagation="true">
                <div class="modal-content">
                    @if (!HideHeader)
                    {
                        <div class="modal-header">
                            <h2>@Title</h2>
                            @if (!HideCloseButton)
                            {
                                <div class="btn btn-icon btn-sm btn-active-icon-primary" @onclick="() => CancelAsync()" @attributes="@_closeBtnAttributes">
                                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                            }
                        </div>
                    }
                    <CascadingValue Value="this">
                        @Content
                    </CascadingValue>
                </div>
            </div>
        </FocusTrap>
    </div>
    <div class="modal-backdrop fade show"></div>
}